@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.woff2) format('woff2'), url(../fonts/Roboto-Regular.woff) format('woff');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@font-face {
    font-family: Arial;
    src: url(../fonts/ArialRegular.woff2) format('woff2'), url(../fonts/ArialRegular.woff) format('woff');
}

body {
    font-family: 'Roboto', Arial;
}

.container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.page_header {
    min-height: 9vw;
    max-width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
}

.logo_link {
    margin-right: 3rem;
}

.nav_items {
    display: flex;
    align-items: center;
}

.main_nav {
    display: flex;
    align-items: center;
}

.nav_item_link {
    font-style: normal;
    font-weight: 400;
    font-size: 1.0625rem;
    line-height: 1.5rem;
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
    padding-bottom: 1rem;
}

.active {
    border-bottom: 2px solid rgba(98, 0, 238, 1);
    ;
}

.nav_item_link:hover,
.nav_item_link:focus {
    border-bottom: 2px solid rgba(98, 0, 238, 0.6);
}

.nav_item {
    margin-right: 2.5rem;
}

.header_social_links {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header_social_link {
    margin-left: 1.375rem;
}

.header_social_link svg path {
    transition: all 0.3s ease-in;
}

.header_social_link:hover svg path,
.header_social_link:focus svg path {
    fill: #03DAC4;
}

.banner_block_text {
    width: 43.125rem;
    max-width: 100%;
    margin-top: 13.375rem;
}

.banner {
    min-height: 62vw;
    max-width: 100%;
    position: relative;
    overflow: hidden;
}

.banner_subtitle {
    width: 36.75rem;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.43rem;
    color: rgba(0, 0, 0, 0.6);
}

.banner_title {
    font-weight: 900;
    font-size: 4.375rem;
    line-height: 5.125rem;
    color: #6200EE;
    margin: 1rem 0 1.5625rem 0;
}

.banner_form {
    display: flex;
    Width: 30.375rem;
    Height: 3.5rem;
    margin-top: 4.375rem;
    box-shadow: 0px 27px 51px rgba(17, 0, 213, 0.24);
}

.banner_input {
    width: 18rem;
    padding: 1rem 0 1rem 1rem;
    font-weight: 400;
    font-size: 1.0625rem;
    line-height: 1.5rem;
    color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(25, 25, 25, 0.32);
}

.banner_button {
    height: 3.5rem;
    width: 11.25rem;
    background: rgba(59, 0, 221, 1);
    border: 1px solid rgba(25, 25, 25, 0.32);
    font-weight: 400;
    font-size: 1rem;
    color: #ffff;
    text-transform: uppercase;
    padding: 1.25rem 1.625rem;
    transition: 0.3s ease-in;
}

.banner_button:hover,
.banner_button:focus {
    cursor: pointer;
    background: rgba(59, 0, 221, 0.7);
}

.banner_block_img {
    width: 100%;
}

.banner_img {
    position: absolute;
    top: 100px;
    right: -200px;
    object-fit: cover;
}

.team {
    min-height: 62vw;
    max-width: 100%;
}

.team_contaner {
    flex-direction: column;
}

.team_title {
    font-weight: 700;
    font-size: 2.875rem;
    line-height: 3.375rem;
    color: rgba(0, 0, 0, 0.87);
    margin: 0 auto;
    margin-top: 7.8125rem;
    text-align: center;
}

.team_subtitle {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.4375rem;
    color: rgba(0, 0, 0, 0.6);
    width: 48rem;
    margin: 0 auto;
    text-align: center;
    margin-top: 2.5rem;
}

.team_articles {
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
    margin-bottom: 8.25rem;
}

.team_card {
    width: 24rem;
    height: 25rem;
    background: #FAFAFA;
    text-align: center;
    box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.14), 0px 9px 46px rgba(0, 0, 0, 0.12), 0px 11px 15px rgba(0, 0, 0, 0.2);
}

.card_video {
    position: relative;
    width: 24rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
}

.card_video::before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
}

.card_button {
    position: absolute;
    width: 2.5rem;
    min-height: 2.5rem;
    border-radius: 50%;
    border: none;
    background: rgba(59, 0, 221, 0.6);
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.13);
    top: 50%;
    left: 50%;
    transform: translateY(-50%)translateX(-50%);
    transition: all 0.5s ease-in;
}

.card_button:hover,
.card_button:focus {
    cursor: pointer;
    background: rgba(59, 0, 221, 0.9);
}

.card_info {
    position: relative;
    width: 24rem;
    height: 25rem;
}

.card_decoration {
    position: absolute;
    top: -19%;
    transform: translateX(-50%);
}

.person_name {
    font-weight: 500;
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.87);
    margin-top: 3.5rem;
    margin-bottom: 0.75rem;
}

.person_position {
    font-weight: 400;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.6);
}

.gallery {
    background: #F5F5F5;
    min-height: 62vw;
    max-width: 100%;
}

.container_grid {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 17.625rem 17.625rem;
    grid-template-columns: repeat(4, 17.625rem);
    grid-gap: 1.5rem;
    grid-template-areas: " item1 item2 item3 item7" " item4 item5 item6 item7";
}

.gallery_img {
    margin-top: 6.625rem;
    width: 17.625rem;
    height: 17.625rem;
    object-fit: cover;
}

.gallery_img:nth-child(1) {
    grid-area: item1;
}

.gallery_img:nth-child(2) {
    grid-area: item2;
}

.gallery_img:nth-child(3) {
    grid-area: item3;
}

.gallery_img:nth-child(4) {
    grid-area: item4;
}

.gallery_img:nth-child(5) {
    grid-area: item5;
}

.gallery_img:nth-child(6) {
    grid-area: item6;
}

.gallery_info {
    grid-area: item7;
}

.gallery_info {
    height: 100%;
    margin-top: 6.625rem;
    padding-left: 3rem;
    background: rgba(0, 0, 160, 1);
}

.gallery_text {
    width: 11.625rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: rgba(255, 255, 255, 0.6);
}

.number {
    color: rgba(245, 245, 245, 1);
    margin-top: 4.875rem;
    margin-bottom: 3.25rem;
}

.gallery_info_title {
    font-weight: 500;
    font-size: 1.25rem;
    color: #F5F5F5;
    margin-top: 0.5625rem;
    margin-bottom: 1.75rem;
}

.advantages {
    min-height: 62vw;
    max-width: 100%;
}

.container_advantages {
    flex-direction: column;
}

.advantages_title_h2 {
    width: 49.5rem;
    font-weight: 700;
    font-size: 2.875rem;
    line-height: 3.375rem;
    color: rgba(0, 0, 0, 0.87);
    margin: 0 auto;
    margin-top: 6.6875rem;
    margin-bottom: 4.875rem;
    text-align: center;
}

.advantages_blocks {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5.625rem;
}

.advantages_block_1 {
    width: 21rem;
    height: 30rem;
    background: rgba(59, 0, 221, 1);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: 8.4375rem;
}

.advantages_title_h3 {
    font-weight: 700;
    font-size: 2.125rem;
    line-height: 2.5rem;
    color: #FFFFFF;
    margin-top: 4.375rem;
    margin-bottom: 1.5625rem;
}

.advantages_text {
    width: 21rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #FFFFFF;
    margin-bottom: 3.125rem;
}

.person_info {
    display: flex;
    align-items: center;
}

.person_img {
    border-radius: 50%;
    margin-right: 1rem;
}

.info_position {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.3125rem;
    color: #FFFFFF;
}

.info_name {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #FFFFFF;
}

.advantages_block_2 {
    width: 36.75rem;
}

.advantages_article {
    margin-bottom: 2.75rem;
}

.advantages_article_title {
    font-weight: 700;
    font-size: 1.375rem;
    line-height: 1.625rem;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 1rem;
}

.advantages_article_text {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.3125;
    color: rgba(0, 0, 0, 0.6);
}

.page_footer {
    background: rgba(245, 245, 245, 1);
}

.subscribe {
    min-height: 10vw;
    max-width: 100%;
    display: flex;
    align-items: center;
    background: #3B00DD;
    box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.14), 0px 9px 46px rgba(0, 0, 0, 0.12), 0px 11px 15px rgba(0, 0, 0, 0.2);
}

.footer_form {
    display: flex;
    Width: 30.375rem;
    Height: 3rem;
}

.footer_input {
    font-weight: 400;
    font-size: 1.0625rem;
    line-height: 1.5rem;
    color: rgba(0, 0, 0, 0.6);
    padding: 0.75rem 0 0.75rem 1rem;
    border: none;
}

.footer_button {
    width: 11.25rem;
    height: 3rem;
    background: rgba(3, 218, 196, 1);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
    color: rgba(0, 0, 0, 0.87);
    padding: 1rem 1.5625rem;
    border: none;
    transition: 0.3s ease-in;
}

.footer_button:hover,
.footer_button:active {
    cursor: pointer;
    background: rgba(3, 218, 196, 0.7);
}

.footer_social_links {
    display: flex;
}

.footer_social_link {
    display: block;
    text-align: center;
    width: 2.5rem;
    height: 2.5rem;
    background: rgba(250, 250, 250, 0.5);
    margin-left: 0.4375rem;
    border-radius: 50%;
}

.footer_social_link svg {
    position: relative;
    top: 25%;
}

.footer_social_link svg path {
    transition: 0.3s ease-in;
}

.footer_social_link:hover svg path,
.footer_social_link:active svg path {
    fill: #03DAC4;
}

.footer_info {
    margin-top: 4.375rem;
}

.footer_info_block {
    width: 11.25rem;
    margin-right: 7.875rem;
    margin-bottom: 3.8125rem;
}

.footer_info_block:nth-child(1) {
    margin-right: 0;
}

.footer_block_title {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.4375rem;
    color: rgba(0, 0, 0, 0.87);
}

.footer_block_text,
.footer_menu_link,
.footer_block_link {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: rgba(0, 0, 0, 0.6);
    transition: 0.3s ease-in;
}

.footer_block_text,
.footer_menu_items {
    margin-top: 1.6875rem;
}

.footer_menu_link {
    text-decoration: none;
    transition: 0.3s ease-in;
}

.footer_block_link:hover,
.footer_block_link:active,
.footer_menu_link:hover,
.footer_menu_link:active {
    color: #03DAC4;
}

.politic {
    background-color: #FFFFFF;
    min-height: 8vw;
    max-width: 100%;
    display: flex;
    align-items: center;
}

.legal_link,
.legal_info {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    padding-left: 5px;
}

.legal_link:nth-child(1) {
    border-right: 1px solid rgba(0, 0, 0, 0.6);
}

.legal_link:hover,
.legal_link:active {
    transition: 0.3s ease-in;
    color: rgba(0, 0, 0, 0.9);
}